body {
  margin: 0;
}

canvas {
  display: block;
  border: 1px solid black;
}

/* Styling working for hooked canvas
.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
